@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<h1>Welcome</h1>

<p>I created this site to document the research I started in 2018.  At that time, I spent a lot of time taking classes on project management, UI/UX design, graphics design, mobile applications design, website accessibility, etc.  I discovered so many useful resources!  Hopefully these will be useful to others as well.</p>