@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<nav>
    <ul>
        <li><a href="#Accessibility">Accessibility</a> | </li>
        <li><a href="#Color Palettes">Color Palettes</a> | </li>
        <li><a href="#Design Patterns/ Templates">Design Templates</a> | </li>
        <li><a href="#Fonts">Fonts</a> | </li>
        <li><a href="#Graphics / Icons / Images / Logos">Graphics</a> | </li>
        <li><a href="#Prototyping">Prototyping</a> | </li>
        <li><a href="#Testing">Testing</a> | </li>
        <li><a href="#Business / Collaboration Tools">Business Tools</a></li>
    </ul>
</nav>

<h1>Welcome</h1>

<p>I created this site to document the research I started in 2018 (and hopefully, beyond).  I spent a lot of time taking classes on project management, UI/UX design, graphics design, mobile applications design, website accessibility, etc.  I discovered so many useful resources!  Hopefully these will be useful to others as well.</p>

<h2>Twitter Feed</h2>
<p>I highly advise viewing this Twitter feed widget from a desktop, or by going directly to the Twitter feed <a href="https://twitter.com/SharonAHamon" aria-label="Twitter">SharonAHamon</a> from a desktop.  The desktop version of Twitter allows for images to be embedded in the tweets (for sites that have set up a Twitter card), so you get a richer content experience.</p>
<a class="twitter-timeline" data-wilih="360" data-height="200" data-theme="dark" data-link-color="#7244AA" href="https://twitter.com/SharonAHamon?ref_src=twsrc%5Etfw">Tweets by Sharon A. Hamon</a>

<h2>Resources</h2>
<p>These are mostly either links to software you can purchase or are links to sites where you can download free content.  I've thrown in some valuable how-to guides as well.</p>
<p>Disclaimer: I am not being paid to publish these links, nor have I necessarily visited them all or use them regularly.  They are simply resources that I learned about from various people or by doing web searches on my own.</p>

<a name="Accessibility" />

<h3>Accessibility</h3>

<ul>
    <li><A HREF="http://get.invisionapp.com/4-guidelines-to-help-you-design-for-visually-impaired-users?ecid=ACsprvtjk0vNGa36r35HnSRCgNLgoxKDeITYEzDAgEZ6LRqy3NeamKCaRouQXIQlo8kHyWHsC148&utm_campaign=Weekly%20Digest&utm_source=hs_email&utm_medium=email&utm_content=59667720&_hsenc=p2ANqtz-8nNFuP6K-prPnvUwz6m8ItZ4KliTlchAIOtkPLWUUNoUs6GiYc7eTPGAzT-sytwsWyXu4kiWbGmO6LlvydAcaxniSDlw&_hsmi=59667720">4 guidelines to help you design for visually impaired users</A></li>
    <li><A HREF="https://codeburst.io/seven-ways-to-make-your-web-app-more-accessible-411a8c716fcb">7 Ways To Make Your Web Application More Accessible</A></li>
    <li><A HREF="https://developer.apple.com/library/content/technotes/TestingAccessibilityOfiOSApps/TestingtheAccessibilityofiOSApps/TestingtheAccessibilityofiOSApps.html#//apple_ref/doc/uid/TP40012619">About Accessibility Verification on iOS</A></li>
    <li><A HREF="https://developer.apple.com/ios/human-interface-guidelines/app-architecture/accessibility/">Accessibility - App Architecture - iOS Human Interface Guidelines</A></li>
    <li><A HREF="https://www.apple.com/accessibility/">Accessibility - Apple</A></li>
    <li><A HREF="https://material.angular.io/cdk/a11y/overview">Accessibility | Angular Material</A></li>
    <li><A HREF="https://support.microsoft.com/en-us/help/11685/microsoft-account-accessibility-features">Accessibility features for the Microsoft account website</A></li>
    <li><A HREF="https://play.google.com/store/apps/details?id=com.google.android.apps.accessibility.auditor&hl=en">Accessibility Scanner - Android Apps on Google Play</A></li>
    <li><A HREF="https://www.sitepen.com/blog/2016/12/13/accessibility-testing-with-intern/">Accessibility Testing with Intern - Blog | SitePen</A></li>
    <li><A HREF="http://www.interactiveaccessibility.com/">ADA, 508 and WCAG 2.0 compliance | Interactive Accessibility</A></li>
    <li><A HREF="https://learn.freecodecamp.org/responsive-web-design/applied-accessibility">Applied Accessibility | freeCodeCamp</A></li>
    <li><A HREF="https://www.boia.org/automated-wcag-2.1-aa-audit-with-remediation-guide">Automated WCAG 2.1 A/AA Audit with Remediation Guide</A></li>
    <li><A HREF="https://github.com/btholt/postcss-colorblind">btholt/postcss-colorblind: A PostCSS plugin for seeing your site as a colorblind person may.</A></li>
    <li><A HREF="http://www.chromevox.com/">ChromeVox</A></li>
    <li><A HREF="https://www.jetbrains.com/help/idea/2017.3/color-deficiency-adjustment.html">Color-Deficiency Adjustment - Help | IntelliJ IDEA</A></li>
    <li><A HREF="https://developer.apple.com/library/content/technotes/TestingAccessibilityOfiOSApps/TestAccessibilityiniOSSimulatorwithAccessibilityInspector/TestAccessibilityiniOSSimulatorwithAccessibilityInspector.html#//apple_ref/doc/uid/TP40012619-CH4">Debug Accessibility in iOS Simulator with the Accessibility Inspector</A></li>
    <li><A HREF="https://www.smashingmagazine.com/2018/04/designing-accessibility-inclusion/">Designing For Accessibility And Inclusion — Smashing Magazine</A></li>
    <li><A HREF="https://www.nuance.com/dragon.html">Dragon NaturallySpeaking - world&#39;s best-selling speech recognition software | Nuance</A></li>
    <li><A HREF="https://www.nuance.com/dragon/for-developers/dragon-software-developer-kit.html">Dragon Software Developer Kit | Nuance</A></li>
    <li><A HREF="https://chrome.google.com/webstore/detail/dragon-web-extension/ddaloccgjfibfpkalenodgehlhkgoahe?hl=en">Dragon Web Extension - Chrome Web Store</A></li>
    <li><A HREF="https://axe-core.org/">Easy Accessibility Testing with aXe</A></li>
    <li><A HREF="https://www.nuance.com/about-us/for-partners.html">For partners | Nuance</A></li>
    <li><A HREF="https://www.funkify.org/">Funkify - A disability simulator for the web</A></li>
    <li><A HREF="https://github.com/dequelabs/axe-core">GitHub - dequelabs/axe-core: Accessibility engine for automated Web UI testing</A></li>
    <li><A HREF="https://github.com/theintern/intern-a11y">GitHub - theintern/intern-a11y: Accessibility testing for Intern</A></li>
    <li><A HREF="https://github.com/wpaccessibility/a11ythemepatterns">GitHub - wpaccessibility/a11ythemepatterns: A collection of patterns for creating accessibility-ready WordPress themes.</A></li>
    <li><A HREF="https://www.podfeet.com/blog/tutorials-5/build-accessible-ios-apps/">How to Build Accessible iOS Apps – Podfeet Podcasts</A></li>
    <li><A HREF="https://developers.google.com/web/fundamentals/accessibility/how-to-review#take_advantage_of_headings_and_landmarks">How To Do an Accessibility Review  |  Web Fundamentals  |  Google Developers</A></li>
    <li><A HREF="https://www.google.com/search?q=how+to+turn+on+accessibility+inspector+in+xcode&rlz=1C5CHFA_enUS692US692&oq=how+to+turn+on+accessibility+inspector+in+xcode&aqs=chrome..69i57.8288j0j1&sourceid=chrome&ie=UTF-8">how to turn on accessibility inspector in xcode - Google Search</A></li>
    <li><A HREF="http://squizlabs.github.io/HTML_CodeSniffer/">HTML_CodeSniffer</A></li>
    <li><A HREF="https://www.w3.org/TR/turingtest/">Inaccessibility of CAPTCHA</A></li>
    <li><A HREF="http://www.dragonblogger.com/invite-all-friends-to-facebook-event-with-this-free-chrome-extension/">Invite All Friends to Facebook Event with this Free Chrome Extension - Dragon Blogger Technology</A></li>
    <li><A HREF="https://make.wordpress.org/accessibility/">Make WordPress Accessible – Equal Access For All</A></li>
    <li><A HREF="https://www.maxiaids.com/blind-and-low-vision-store">MaxiAids | Vision | Low Vision Products | Low Vision Devices | Blind Products</A></li>
    <li><A HREF="https://www.w3.org/TR/mobile-accessibility-mapping/">Mobile Accessibility: How WCAG 2.0 and Other W3C/WAI Guidelines Apply to Mobile</A></li>
    <li><A HREF="https://itunes.apple.com/us/app/mobile-web-accessibility-check/id1128079244?mt=8">Mobile Web Accessibility Check on the App Store</A></li>
    <li><A HREF="https://webkit.org/blog/7551/responsive-design-for-motion/">Responsive Design for Motion | WebKit</A></li>
    <li><A HREF="https://www.smashingmagazine.com/2017/10/nailing-accessibility-design/">Stop Designing For Only 85% Of Users: Nailing Accessibility In Design – Smashing Magazine</A></li>
    <li><A HREF="https://www.w3.org/TR/WCAG20-TECHS/">Techniques for WCAG 2.0</A></li>
    <li><A HREF="https://developer.apple.com/library/content/technotes/TestingAccessibilityOfiOSApps/TestAccessibilityonYourDevicewithVoiceOver/TestAccessibilityonYourDevicewithVoiceOver.html#//apple_ref/doc/uid/TP40012619-CH3-SW1">Test Accessibility on Your Device with VoiceOver</A></li>
    <li><A HREF="https://make.wordpress.org/themes/handbook/review/accessibility/">Theme Review Team (Accessibility) — WordPress</A></li>
    <li><A HREF="http://bkaprt.com/resources/designing-for-touch/Windows%208%20Touch%20Guidance.pdf">Touch Dev Docs M5</A></li>
    <li><A HREF="https://docs.microsoft.com/en-us/windows/uwp/design/input/touch-interactions">Touch interactions - UWP app developer | Microsoft Docs</A></li>
    <li><A HREF="https://developer.apple.com/library/content/documentation/UserExperience/Conceptual/iPhoneAccessibility/Accessibility_on_iPhone/Accessibility_on_iPhone.html#//apple_ref/doc/uid/TP40008785-CH100-SW2">Understanding Accessibility on iOS</A></li>
    <li><A HREF="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques">Using ARIA: Roles, States, and Properties - Accessibility | MDN</A></li>
    <li><A HREF="http://wave.webaim.org/">WAVE Web Accessibility Tool</A></li>
</ul>

<a name="Color Palettes" />
<h3>Color Palettes</h3>
<ul>
    <li><A HREF="https://www.competethemes.com/blog/social-media-colors/">Compete Themes - Social Media Color Hex Codes</A></li>
    <li><A HREF="https://dribbble.com/colors/ee6d66">Dribbble - Browse by color</A></li>
    <li><A HREF="https://www.canva.com/learn/website-color-schemes/">Canva - Website color schemes: 50 color palettes to inspire</A></li>
    <li><A HREF="https://colorhunt.co/">Color Hunt - Color Palettes for Designers and Artists</A></li>
    <li><A HREF="http://www.colorzilla.com/">ColorZilla - Eyedropper, Color Picker, Gradient Generator and more</A></li>
    <li><A HREF="https://flatuicolors.com/">Flat UI Colors - 🎨 280 handpicked colors ready for COPY &amp; PASTE</A></li>
    <li><A HREF="https://www.materialpalette.com/">Material Palette - Material Design Color Palette Generator</A></li>
</ul>

<a name="Design Patterns/ Templates" />
<h3>Design Patterns/ Templates</h3>
<ul>
    <li><A HREF="https://www.lucidchart.com/?utm_source=google&utm_medium=cpc&utm_campaign=lucidchart_unitedstates&gclid=EAIaIQobChMIiMq1h4at1gIVljVpCh2qYQZ6EAAYASAAEgKCWPD_BwE">Lucidchart - Flowchart Maker &amp; Online Diagram Software</A></li>
    <li><A HREF="https://www.mobile-patterns.com/">Mobile Patterns - UI UX Inspirational Gallery for iOS and Android</A></li>
    <li><A HREF="http://principleformac.com/">Principle - Animated Design</A></li>
    <li><A HREF="https://pttrns.com/">Pttrns - Mobile Design Patterns</A></li>
    <li><A HREF="http://styletil.es/">Style Tiles</A></li>
    <li><A HREF="https://tutorialzine.com/2016/01/12-ready-to-use-templates-for-list-pages">Tutorialzine - Freebie: 12 Ready To Use Templates For List Pages</A></li>
    <li><A HREF="https://www.uistencils.com/blogs/news/ui-stencils-drafting-templates">UI Stencils - Free printable grids for wireframing and UX</A></li>
    <li><A HREF="https://www.uxpin.com/">UXPin - The Premier UX Design Platform</A></li>
</ul>

<a name="Fonts" />
<h3>Fonts</h3>
<ul>
    <li><A HREF="https://fontawesome.com/?from=io">Font Awesome</A></li>
    <li><A HREF="https://www.fontsquirrel.com/">Font Squirrel - Free Fonts! Legit Free &amp; Quality</A></li>
    <li><A HREF="https://fonts.google.com/">Google Fonts</A></li>
    <li><A HREF="https://www.linotype.com/">Linotype - Fonts for Desktop, Web &amp; More</A></li>
    <li><A HREF="https://typekit.com/">Typekit</A></li>
    <li><A HREF="https://www.myfonts.com/WhatTheFont/">WhatTheFont! « MyFonts</A></li>
</ul>

<a name="Graphics / Icons / Images / Logos" />
<h3>Graphics / Icons / Images / Logos</h3>
<ul>
    <li><A HREF="https://www.alienskin.com/">Alien Skin Software - Photo Editing Programs and Plug-ins</A></li>
    <li><A HREF="https://daneden.github.io/animate.css/">Animate.css</A></li>
    <li><A HREF="http://cubic-bezier.com/#.17,.67,.83,.67">Cubic-bezier.com</A></li>
    <li><A HREF="https://www.designmantic.com/logo-design">DesignMantic - Free Logo Design &amp; Logo Maker</A></li>
    <li><A HREF="https://dummyimage.com/">DummyImage.com - Dynamic Dummy Image Generator</A></li>
    <li><A HREF="https://realfavicongenerator.net/">Favicon Generator for all platforms: iOS, Android, PC/Mac...</A></li>
    <li><A HREF="https://www.flaticon.com/">Flaticon.com - Free vector icons - SVG, PSD, PNG, EPS &amp; Icon Font - Thousands of free icons</A></li>
    <li><A HREF="https://www.freepik.com/">Freepik - Free vectors, photos and PSD Downloads</A></li>
    <li><A HREF="https://makeappicon.com/">MakeAppIcon - Generate iOS and Android app icons of all sizes with a click!</A></li>
    <li><A HREF="https://material.io/tools/icons/?style=baseline">Material Design - Icons</A></li>
    <li><A HREF="https://materialdesignicons.com/">Material Design Icons</A></li>
    <li><A HREF="https://thenounproject.com/">Noun Project - Icons for Everything</A></li>
    <li><A HREF="https://www.pexels.com/search/">Pexels - Free Stock Photos</A></li>
    <li><A HREF="https://www.photopea.com/">Photopea | Online Image Editor</A></li>
    <li><A HREF="https://pixabay.com/">Pixabay - Stunning Free Images</A></li>
    <li><A HREF="https://www.vecteezy.com/">Vecteezy - Free Vectors, Clip Art Designs, Vector Images &amp; Icons</A></li>
    <li><A HREF="https://99designs.com/">99designs - Logos, Web, Graphic Design &amp; More.</A></li>
</ul>

<a name="Prototyping"/>
<h3>Prototyping</h3>
<ul>
    <li><A HREF="https://hipsum.co/?paras=5&type=hipster-centric&start-with-lorem=1">Hipster Lorem</A></li>
    <li><A HREF="http://magicmockups.com/">Magic Mockups - Free real-life mockup generator</A></li>
    <li><A HREF="https://moqups.com/">Moqups - Online Mockup, Wireframe &amp; UI Prototyping Tool</A></li>
    <li><A HREF="https://placeit.net/">Placeit.net - Make Mockups, Logos, Videos and Designs in Seconds</A></li>
    <li><A HREF="https://marvelapp.com/pop/">POP by Marvel - Turn sketches into iOS and Android prototypes</A></li>
    <li><A HREF="https://itunes.apple.com/app/id555647796">‎POP - Prototyping on Paper - App Store</A></li>
    <li><A HREF="https://www.microsoft.com/en-us/p/pop-prototyping-on-paper/9wzdncrdjp7z?rtc=1&activetab=pivot:overviewtab">POP - Prototyping on Paper - Microsoft Store</A></li>
    <li><A HREF="https://proto.io/">Proto.io - Prototypes that feel real</A></li>
    <li><A HREF="https://smartmockups.com/">Smartmockups - Free product mockup generator</A></li>
    <li><A HREF="https://wireframe.cc/">Wireframe.cc - minimal wireframing tool</A></li>
    <li><A HREF="http://wireframesketcher.com/">WireframeSketcher Wireframing Tool for Professionals</A></li>
</ul>

<a name="Testing" />
<h3>Testing</h3>
<ul>
    <li><A HREF="https://www.google.com/analytics/optimize/features/?gclid=EAIaIQobChMI5a6v57iq1gIVTJd-Ch2k1gNTEAAYASABEgLMj_D_BwE">AB &amp; Multivariate Testing Tool Features - Google Optimize – Google</A></li>
    <li><A HREF="https://sites.google.com/a/chromium.org/chromedriver/">ChromeDriver - WebDriver for Chrome</A></li>
    <li><A HREF="https://www.browserstack.com/">Cross Browser Testing Tool. 1000+ Browsers, Mobile, Real IE.</A></li>
    <li><A HREF="https://www.monetate.com/">Monetate - Ecommerce Personalization &amp; Multivariate &amp; A/B Testing</A></li>
    <li><A HREF="https://www.optimizely.com/">Optimizely - The World&#39;s Leading Experimentation Platform</A></li>
    <li><A HREF="http://www.adobe.com/marketing-cloud/target.html">Adobe Target - Website testing and personalization</A></li>
</ul>

<a name="Business / Collaboration Tools"/>
<h3>Business / Collaboration Tools</h3>
<ul>
    <li><A HREF="https://www.classy.org/">Classy - A modern online fundraising platform for nonprofits</A></li>
    <li><A HREF="https://www.pivotaltracker.com/?utm_source=google&utm_campaign=brand&utm_medium=cpc&utm_term=pivotal%20tracker">Pivotal Tracker - Agile Project Management</A></li>
    <li><A HREF="http://www.quickbase.com/">QuickBase</A></li>
    <li><A HREF="https://material.io/design/">Design - Material Design</A></li>
    <li><A HREF="http://crf-inc.com/google-grant/?gclid=EAIaIQobChMIsbiZ6ryq1gIVRIF-Ch10HQAeEAAYAyAAEgJ2C_D_BwE">Google Grant</A></li>
    <li><A HREF="https://projects.invisionapp.com/">Invision</A></li>
    <li><A HREF="https://play.google.com/store/apps/details?id=com.invisionapp.ifa">InVision - Apps on Google Play</A></li>
    <li><A HREF="https://www.invisionapp.com/">InVision | Digital product design, workflow &amp; collaboration</A></li>
    <li><A HREF="https://play.google.com/store/apps/details?id=com.marvelapp">Marvel - Design and build Apps - Apps on Google Play</A></li>
    <li><A HREF="https://marvelapp.com/">Marvel - The design platform for digital products</A></li>
    <li><A HREF="https://marvelapp.com/ios/">Marvel for iOS</A></li>
    <li><A HREF="https://prezi.com/">Prezi -Presentation Software | Online Presentation Tools</A></li>
    <li><A HREF="https://www.rememberthemilk.com/">Remember The Milk - Online to-do list and task management</A></li>
    <li><A HREF="https://www.sketchapp.com/">Sketch - The digital design toolkit</A></li>
    <li><A HREF="https://www.sketchappsources.com/">Sketch App Sources - Free design resources and plugins - Icons, UI Kits, Wireframes, iOS, Android Templates for Sketch</A></li>
    <li><A HREF="https://sketch.cloud/s/D9VW">Sketch Cloud</A></li>
    <li><A HREF="https://www.smartsheet.com/">Smartsheet: Less Talk, More Action</A></li>
    <li><A HREF="https://speakerdeck.com/">Speaker Deck - Share Presentations without the Mess</A></li>
    <li><A HREF="https://trello.com">Trello</A></li>
    <li><A HREF="https://validately.com/">Validately: Powerful User Research - Thousands of UX teams use Validately to conduct 2x the research in 50% less time.</A></li>
    <li><A HREF="https://visage.co/">Visage.co - Visual Content Creation Made Simple</A></li>
    <li><A HREF="https://slack.com/">Where work happens | Slack</A></li>
    <li><A HREF="https://zeplin.io/">Zeplin</A></li>
</ul>