@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<h1>Welcome</h1>

<p>I created this site to document the research I started in 2018 (and hopefully, beyond).  I spent a lot of time taking classes on project management, UI/UX design, graphics design, mobile applications design, website accessibility, etc.  I discovered so many useful resources!  Hopefully these will be useful to others as well.</p>

<h2>Twitter Feed</h2>
<a class="twitter-timeline" data-width="360" data-height="200" data-theme="dark" data-link-color="#7244AA" href="https://twitter.com/SharonAHamon?ref_src=twsrc%5Etfw">Tweets by Sharon A. Hamon</a>