body {
    color: black;
    margin: 10px;
    font-family: "Exo 2", sans-serif;
    font-size: 12px;
    line-height: 1.5em;
}

body > nav.navbar.navbar-inverse.navbar-fixed-top {
    background-color: white;
    border-color: white;
    display: none;
}

#sah_site_logo img {
    border-radius: 10px;
    top: 0px;
    left: 0px;
    height: 100px;
    width: 100px;
    position: absolute; /* within sah_banner*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 14px;
} 

#sah_site_name {
    font-size: 14px;
    padding: 5px;
    position: absolute; /* within sah_banner*/
    top: 35px;
    left: 100px;
}

#sah_site_name {
    font-family: 'Homemade Apple', cursive;
    font-weight: bolder;
}
 
#sah_banner {
    border-radius: 10px;
    top: 0px;
    left: 0px;
    height: 100px;
    width: 100%;
    display: inline-block;
    position: relative;
}

#sah_social_media_icons_header {
    position: absolute; /* within sah_banner*/
    top: 50px;
    right: 0px;
}

#sah_site_name span {
    white-space: nowrap;
    border-radius: 10px;
    font-size: 24px;
    display: inline;
}

#sah_social_media_icons_header > a.fa,
#sah_social_media_icons_footer > a.fa {
    font-size: 20px;
    padding: 20px;
    text-align: center;
    display: inline;
}

nav {
    left: 0px;
}

nav li {
    display: inline-block;
}

.twitter_feed {
    border-radius: 10px;
    width: 380px;
    height: 200px;
    margin-left: 50px;
    margin-top: 50px;
}

#twitter_feed {
    background-color: #292F33;
    border-radius: 10px;
}

footer {
    position: sticky relative;
    bottom: 0px;
    left: 0px;
    border-radius: 10px;
    width: auto;
}

#copyright {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

footer #sah_social_media_icons_footer {
    position: relative;
    bottom: -20px;
    left: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 650px) {
    #sah_social_media_icons_header {
        visibility: hidden;
        display: none;
    }

    #sah_social_media_icons_footer {
        visibility: visible;
        display: normal;
    }
}

.fa {
    padding: 10px;
    width: 22px;
    height: 22px;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-github {
    background: #24292e;
    color: white;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb6;
    color: white;
}

.fa-google-plus {
    background: #dd4b39;
    color: white;
}

.fa-instagram {
    background: #bc2a8d;
    color: white;
}

hr {
    border: none;
    border-top: 1px dotted black;
}